html, body{
    background-color: white;
    height: 50%;
    padding: 0px;
    margin: 50px;
}

#mayor{
    background: black;
    border:100px solid black;
    
}

#contentbox{
    background-color: rgb(228, 228, 228);
    margin: 50px;
    padding: 20px;

    border: 30px;
    border-style: solid;
    border-color: orangered;

    outline: 30px;
    outline-style: solid;
    outline-color:royalblue; 
}