/*
    Para llamar clases eg

    .clase{

    }
*/

/*
    Para llamar id`s

    #id{

    }
*/
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

#mayor{
    background-color: orangered;
    height: 100%;
}

#menor{
    background-color: blue;
    height: 50%;

}